@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family: 'Jost', sans-serif;
  --color-primary: #35183B; /* Example primary color */
  --color-secondary: #7C5593; /* Example secondary color */
  --color-tertiary: #e74c3c; /* Example tertiary color */
}

body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}